.b-footer {
  color: #fff;
  display: flex;
  position: relative;
  align-items: center;
  padding-bottom: 60px;
  flex-direction: column;
  background-color: #2b344a;

  @include respond-to-max(768) {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  &:before {
    left: 0;
    top: -65%;
    z-index: 0;
    content: "";
    width: 100%;
    height: 450px;
    position: absolute;
    pointer-events: none;
    background: url("../img/footer/footer-mountains/group-26.png") no-repeat center;

    @include respond-to-max(768) {
      top: -50%;
    }
  }

  & > .b-logo {
    margin-bottom: 20px;
  }

  &__menu {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
    text-transform: uppercase;

    @include respond-to-max(768) {
      width: 100%;
      display: flex;
      margin-bottom: 14px;
      align-items: center;
      flex-direction: column;
    }

    & > a {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      & + a {
        margin-left: 30px;

        @include respond-to-max(768) {
          margin: 15px 0 0;
        }
      }
    }
  }

  &__links {
    display: flex;
    font-size: 14px;

    & > li {
      position: relative;

      & + li {

        &:before {
          margin: 0 7px;
          content: "\2022";
          vertical-align: middle;
        }
      }

      & > a {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .b-copy {
    padding: 5px 0;
    font-size: 14px;
  }
}
