<footer class="b-footer">
  <!--<img src="./img/footer/footer-mountains/group-26.png" alt="" class="b-footer__image img-fluid">-->

  <a href="#" class="b-logo"></a>

  <nav class="b-footer__menu">
    <a href="#">Buy Tickets</a>
    <a href="#">Hours & Location</a>
    <a href="#">FAQ</a>
    <a href="#">Gallery</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
  </nav>
  <nav class="b-footer__menu">
    <a href="#">Directions</a>
    <a href="#">Weather</a>
    <a href="#">Live Feed</a>
    <a href="#">Join our team</a>
  </nav>

  <p class="b-copy">
    &copy; 2022 Moonshine Mountain Coaster. All Rights Reserved
  </p>

  <ul class="b-footer__links list-unstyled">
    <li><a href="">Terms and Conditions</a></li>
    <li><a href="">Privacy Policy</a></li>
  </ul>
</footer><!--b-footer-->
