<section class="w-stay-connected">
  <section class="col col__text">
    <h1 class="b-header1">
      Stay Connected
    </h1><!--b-header1-->

    <p>
      123 Road Ave Gatlinburg, TN 12345
    </p>

    <a class="contacts__info-link" href="#">Get Directions</a>

    <p class="mb-4">
      info@website.com | 865-123-4567
    </p>

    <nav class="b-social__links">
      <a href="#">
        <img class="menu__link-icon" src="img/sprite.svg#sprite--facebook">
      </a>
      <a href="#">
        <img class="menu__link-icon" src="img/sprite.svg#sprite--instagram">
      </a>
      <a href="#">
        <img class="menu__link-icon" src="img/sprite.svg#sprite--twitter">
      </a>
    </nav><!--b-social__link-->
  </section><!--col-->

  <section class="col col__form">
    <h1 class="b-header1">
      Get the Latest News & Special Offers
    </h1><!--b-header1-->

    <p class="mb-4">
      Subscribe to our newsletter, special offers and promotional emails.
    </p>

    <form class="b-contacts__form">
      <input type="text" class="b-input" placeholder="Email Address">

      <a href="#" class="b-btn__link btn">
        Sign Up
      </a><!--b-btn__link-->
    </form><!--b-contacts__form-->
  </section><!--col-->
</section><!--w-stay-connected-->
