.b-gallery {
  padding: 0 15px;
  max-width: 1228px;
  margin: 0 auto 175px;

  &__item {
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;

    &:hover {

      &:after {
        opacity: .8;
      }

      &:before {
        opacity: 1;
      }
    }

    &:after {
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      content: "";
      height: 100%;
      display: block;
      position: absolute;
      background-color: #b37c2f;
      transition: opacity ease .2s;
    }

    &:before {
      top: 50%;
      left: 50%;
      z-index: 1;
      opacity: 0;
      width: 32px;
      height: 32px;
      position: absolute;
      transition: opacity ease .2s;
      transform: translate(-50%, -50%);
      content: url("../img/sprite.svg#sprite--search");
    }
  }
}
