.b-ticket {
  display: flex;
  border-radius: 5px;
  align-items: center;
  flex-direction: column;
  padding: 65px 35px 55px;
  background: url("../img/homepage/ticket-bg/ticket-bg.jpg") no-repeat center;
  background-size: cover;

  @include respond-to-max(1000) {
    padding: 30px 15px;
  }

  &__media {
    height: 240px;
    margin: 0 0 25px;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
    }
  }
  &__type {
    color: #0d0d0d;
    line-height: 1;
    font-size: 30px;
    font-weight: bold;
  }
  &__price {
    color: #050505;
    line-height: 1;
    font-size: 75px;
    font-weight: bold;
  }
  &__age {
    margin-bottom: 20px;
  }
  &__age,
  &__description {
    color: #0d0d0d;
    font-size: 18px;
    font-weight: normal;
  }

  &__description {
    max-width: 90%;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto 22px;
  }

  &__extra {
    color: #000;
    width: 100%;
    font-size: 18px;
    line-height: 14px;
    text-align: center;
    margin-bottom: 15px;
  }

  & > .b-btn__link {
    width: 100%;
    margin-bottom: 20px;
  }

  &.with__media {
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,.2);
    background-image: none;
    background-color: #fff;

    .divider {
      max-width: 80%;
    }

    .b-btn__link {
      min-height: 66px;
      max-width: 70%;
    }

    .btn-outline {
      margin: 20px 0 30px;
    }
  }
}


.w-tickets {
  display: flex;
  margin: 0 auto;
  max-width: 1090px;

  @include respond-to-max(768) {
    flex-direction: column;
  }

  & > .b-ticket {
    margin: 0 5px;

    @include respond-to-max(768) {
      margin: 0 0 20px;
    }
  }
}
