<section class="b-ticket">
  <div class="b-ticket__type">
    @@type
  </div>

  <div class="b-ticket__price">
    @@price
  </div>

  <div class="b-ticket__age">
    @@age
  </div>

  <div class="b-ticket__description">
    @@description
  </div>

  <a href="#" class="b-btn__link btn">
    Get Tickets
    <img class="link__icon img-fluid" src="img/sprite.svg#sprite--arrow-forward">
  </a>

  <p class="b-ticket__extra">
    @@extra1
  </p>
  <p class="b-ticket__extra">
    @@extra2
  </p>
</section><!--b-ticket-->
