.w-about {
  margin-top: -45px;

  & > .container {
    max-width: 1082px;
  }

  .media__col {
    padding-right: 90px;

    .b-frame {
      min-height: 460px;

      &__text {
        font-size: 30px;
      }
    }
  }

  .text__col {
    color: #fff;
    padding-left: 0;
    padding-top: 92px;

    .b-header1 {
      margin-bottom: 3px;
    }
  }
}
.w-join__team {
  margin: 0 auto;
  max-width: 650px;
  position: relative;

  & > img {
    position: absolute;
  }

  & > .team__img01 {
    top: -70px;
    left: 30px;
    width: 110px;
    height: 112px;
  }

  & > .team__img02 {
    top: -50px;
    right: 60px;
    width: 97px;
    height: 97px;
  }

  & > .b-btn__link {
    min-height: 66px;
    max-width: 270px;
    margin: 0 auto 20px;
  }
}
.w-team {
  display: flex;
  flex-wrap: wrap;
  max-width: 1265px;
  align-items: center;
  margin: 0 auto 120px;
  justify-content: center;

  & > .b-team {
    margin: 15px;
    flex: 0 1 30%;
    max-width: 30%;
  }

  &__outer {
    padding: 90px 0;
  }
}
