@import "../base/mixins";

.b-calendar {
  margin-bottom: 88px;
}


.w-calendar {

  & > .container {
    max-width: 1112px;
  }
}
.w-location {

  & > .container {
    padding: 0 40px;

    @include respond-to-max(991) {
      max-width: 100%;
    }
  }

  .b-frame {
    max-width: 980px;
    min-height: 590px;
    margin-bottom: 110px;
  }
}
