<section class="w-top__menu">
  <nav class="b-top__menu">
    <div class="b-top__menu-item">
      <a href="#" class="b-top__menu-link">
        Directions
      </a>
    </div>

    <div class="b-top__menu-item">
      <button
        class="btn b-top__menu-link"
        type="button"
        data-bs-toggle="dropdown"
        data-bs-auto-close="outside"
        aria-expanded="false">
        Weather
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Menu item</a></li>
        <li><a class="dropdown-item" href="#">Menu item</a></li>
        <li><a class="dropdown-item" href="#">Menu item</a></li>
      </ul>
    </div>

    <div class="b-top__menu-item">
      <a href="#" class="b-top__menu-link">
        Live Feed
        <img class="menu__link-icon" src="img/sprite.svg#sprite--videocam">
      </a>
    </div>

    <div class="b-top__menu-item time__link">
      <a href="#" class="b-top__menu-link">
        <img class="menu__link-icon me-3" src="img/sprite.svg#sprite--schedule">
        Thur, Jan. 20th: Closed
      </a>
    </div>

    <div class="b-top__menu-item time__link phone__link">
      <a href="tel:865-123-4567" class="b-top__menu-link">
        865-123-4567
      </a>
    </div>
  </nav><!--b-top__menu-->
</section><!--w-top__menu-->
