.b-top__menu {
  height: 100%;
  display: flex;
  align-items: center;
  transition: height .2s ease;

  &-item {
    height: 100%;
    display: flex;
    margin-left: 30px;
    position: relative;
    align-items: center;

    @include respond-to-max(1000) {
      display: none;
    }

    &.time__link {
      margin-left: 70px;
      margin-right: 30px;

      @include respond-to-max(1000) {
        display: flex;
        margin: 0 auto;
      }
    }

    &.phone__link {
      margin-left: 47px;
      margin-right: 23px;
    }
  }

  &-link {
    color: #fff;
    font-size: 18px;
    border-radius: 0;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: #fff;
      opacity: .8;
    }

    & > .menu__link-icon {
      width: 30px;
      height: 30px;
    }
  }
}


.w-top__menu {
  height: 66px;
  display: flex;
  padding: 0 15px;
  align-items: center;
  margin-bottom: -3px;
  justify-content: flex-end;
  transition: height .2s ease;
  background-image: url("../img/top-menu/bg.png");
  background-repeat-y: no-repeat;
  background-repeat-x: repeat;
  background-position: right;

  @include respond-to-max(1000) {
    justify-content: center;
  }
}

@media (max-width:580px) {
  .sb_instagram_header {
    flex-direction: column;
  }

  #sbi_load {
    margin: 15px 0 0;
  }
}
