<section class="w-top__menu">
  <nav class="b-top__menu">
    <div class="b-top__menu-item">
      <a href="https://goo.gl/maps/yMBLSw2vGkVYbGxT9" target="_blank" class="b-top__menu-link">
        Directions
      </a>
    </div>

    <div class="b-top__menu-item">
      <a href="#weather"
        class="btn b-top__menu-link active"
        type="button">
        Weather
      </a>

      <div class="b-weather__widget sub-menu">
        widget
      </div><!--b-weather__widget-->
    </div>

    <div class="b-top__menu-item">
      <a href="#" class="b-top__menu-link">
        Live Feed
        <img class="menu__link-icon" src="img/icon/videocam/videocam-black-24-dp@2x.png">
      </a>
    </div>

    <div class="b-top__menu-item time__link">
      <a href="#" class="b-top__menu-link">
        <img class="menu__link-icon me-3" src="img/icon/schedule/schedule-black-24-dp@2x.png">
        Thur, Jan. 20th: Closed
      </a>
    </div>

    <div class="b-top__menu-item phone__link">
      <a href="tel:865-123-4567" class="b-top__menu-link">
        865-123-4567
      </a>
    </div>
  </nav><!--b-top__menu-->
</section><!--w-top__menu-->
