<section class="w-menu">
  <button class="b-btn__mob-menu btn" data-bs-toggle="modal" data-bs-target="#mob-menu">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <a href="#" class="b-logo"></a>

  <nav class="b-menu">
    <a href="#" class="b-menu__item">
      Buy Tickets
    </a>
    <a href="#" class="b-menu__item">
      Hours & Location
    </a>
    <a href="#" class="b-menu__item">
      FAQ
    </a>
    <a href="#" class="b-menu__item">
      Gallery
    </a>
    <a href="#" class="b-menu__item">
      About
    </a>
    <a href="#" class="b-menu__item">
      Contact
    </a>
  </nav>

  <div class="w-menu__search">
    <button
      type="button"
      id="search__btn"
      class="btn b-search__btn"
      data-bs-toggle="dropdown"
      data-bs-auto-close="outside"
      data-bs-display="static"
      aria-expanded="false"
    >
      <img class="img-fluid" src="img/sprite.svg#sprite--search-black">
    </button>

    <div class="w-search dropdown-menu">
      <form class="search-form" autocomplete="off">
        <img class="prepend__icon img-fluid" src="img/sprite.svg#sprite--search">

        <div class="w-input">
          <input id="search__input" type="text" class="b-input" placeholder="Enter Keyword">
        </div>
      </form>

      <button id="close__btn" class="btn">
        <img class="img-fluid" src="img/sprite.svg#sprite--close">
      </button>
    </div>
  </div>

  <a href="tel:865-123-4567" class="b-btn__mob-phone">
    <img class="img-fluid" src="img/sprite.svg#sprite--phone-black">
  </a>
</section>
