<section class="w-menu">
  <a href="#" class="b-logo"></a>

  <nav class="b-menu">
    <a href="#" class="b-menu__item">
      Buy Tickets
    </a>
    <a href="#" class="b-menu__item">
      Hours & Location
    </a>
    <a href="#" class="b-menu__item">
      FAQ
    </a>
    <a href="#" class="b-menu__item">
      Gallery
    </a>
    <a href="#" class="b-menu__item">
      About
    </a>
    <a href="#" class="b-menu__item">
      Contact
    </a>
  </nav>

  <div class="">
    <button class="btn b-search__btn"
            type="button"
            data-bs-toggle="dropdown"
            data-bs-auto-close="outside"
            data-bs-display="static"
            aria-expanded="false">
      <img class="img-fluid" src="img/sprite.svg#sprite--search-black">
    </button>

    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Menu item</a></li>
      <li><a class="dropdown-item" href="#">Menu item</a></li>
      <li><a class="dropdown-item" href="#">Menu item</a></li>
    </ul>
  </div>
</section>
