<section class="b-discount">
  <div class="b-discount__head">
    <div class="type">
      Service Member
    </div>

    <div class="price">
      $8
    </div>

    <a href="#" class="b-btn__link btn-dashed btn">
      Go To Ticket Window
    </a>
  </div><!--b-discount__head-->

  <div class="b-discount__body">
    <h4 class="title fw-bold">
      What to bring to receive this discount
    </h4>
    <p class="mb-0">
      Service discount applies to any
    </p>

    <ul class="b-list__dots list-unstyled">
      <li>Military</li>
      <li>Police</li>
      <li>Fire personnel</li>
      <li>EMS personnel</li>
    </ul>

    <p>
      Must show ID or proof of employment. Discount will apply to the individual and one guest or individual
      and their immediate family (spouse and children).
    </p>
  </div><!--b-discount__body-->
</section><!--b-discount-->
