.b-discount {
  display: flex;
  margin: 0 0 100px;
  border-radius: 4px;
  border: 10px solid #3d4b66;

  @include respond-to-max(1000) {
    flex-direction: column;
  }

  @include respond-to-max(580) {
    margin-bottom: 40px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &__head {
    color: #fff;
    flex: 1 0 37%;
    padding: 10px;
    display: flex;
    font-weight: bold;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #3d4b66;

    @include respond-to-max(1000) {
      padding: 50px 10px;
    }

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 30px 0 30px 30px;
      border-color: transparent transparent transparent #3d4b66;
      position: absolute;
      right: -30px;
      top: 50%;
      transform: translateY(-50%);

      @include respond-to-max(1000) {
        left: 50%;
        transform-origin: left;
        top: calc(100% - 30px);
        transform: rotate(90deg);
      }
    }

    & > .type {
      line-height: 1;
      font-size: 30px;
      margin-bottom: 5px;
    }

    & > .price {
      line-height: 1;
      font-size: 75px;
      margin-bottom: 17px;
    }
  }

  &__body {
    font-size: 20px;
    line-height: 27px;
    padding: 67px 62px;
    background-color: #fff;

    @include respond-to-max(580) {
      padding: 40px 15px;
    }

    & > .title {
      margin: 0 0 10px;
      font-size: 22px;
    }
  }
}


.w-discounts {
  overflow: hidden;
  position: relative;
  margin-top: -148px;
  margin-bottom: -363px;
  background: url("../img/white-tetxture/white-tetxture-background.jpg");

  @include respond-to-max(768) {
    margin-top: unset;
    padding-top: 250px;
  }

  & > .container {
    z-index: 1;
    max-width: 1110px;
    position: relative;

    .w-form {

      @include respond-to-max(768) {
        margin-top: 250px;
      }
    }
  }

  & > .animated__image1 {
    top: 50px;
    left: 25px;
    width: 170px;
    position: absolute;
    animation: 4s infinite both wobble-hor-bottom;

    @include respond-to-max(1000) {
      display: none;
    }

    @include respond-to-max(768) {
      top: 0;
      left: 40%;
      display: block;
    }
  }

  & > .animated__image2 {
    top: 55%;
    width: 239px;
    right: -10px;
    position: absolute;
    animation: 4s infinite both wobble-ver-right;

    @include respond-to-max(1000) {
      display: none;
    }

    @include respond-to-max(768) {
      top: 68%;
      right: 30%;
      width: 200px;
      display: block;
    }
  }
}
