<div class="modal fade" id="mob-menu" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="b-mob__menu modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <nav class="b-menu">
          <a href="#" class="b-menu__item">Buy Tickets</a>
          <a href="#" class="b-menu__item">Hours & Location</a>
          <a href="#" class="b-menu__item">FAQ</a>
          <a href="#" class="b-menu__item">Gallery</a>
          <a href="#" class="b-menu__item">About</a>
          <a href="#" class="b-menu__item">Contact</a>
        </nav>

        <nav class="b-menu text-capitalize">
          <a href="https://goo.gl/maps/yMBLSw2vGkVYbGxT9" target="_blank" class="b-menu__item">
            Directions
          </a>

          <a href="#" class="b-menu__item">
            Weather
          </a>

          <a href="#" class="b-menu__item">
            Live Feed
            <img class="menu__link-icon" src="img/sprite.svg#sprite--videocam-black">
          </a>
        </nav>
      </div>

      <div class="modal-footer">
        <form class="search-form" autocomplete="off">
          <img class="prepend__icon img-fluid" src="img/sprite.svg#sprite--search">

          <div class="w-input">
            <input id="search__input-mob" type="text" class="b-input" placeholder="Enter Keyword">
          </div>
        </form>
      </div><!--modal-footer-->
    </div><!--b-mob__menu-->
  </div><!--modal-dialog-->
</div><!--modal-->
