.b-mob__menu {
  background: url("../img/homepage/white-tetxture/white-tetxture-background.jpg") no-repeat center;
  background-size: cover;

  .b-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__item {

      & + .b-menu__item {
        margin-left: 0;
        margin-top: 11px;
      }
    }

    &.text-capitalize {

      & > .b-menu__item {
        text-transform: capitalize;
      }
    }
  }

  & > .modal-header {
    border: none;

    .btn-close {
      opacity: 1;
      color: #000;
      margin-left: 0;
      font-size: 20px;

      &:hover {
        opacity: .5;
      }
    }
  }

  & > .modal-body {
    padding-top: 0;
    padding-left: 66px;
  }

  & > .modal-footer {
    margin-top: auto;
    background-color: #2b344a;

    .search-form {
      width: 100%;
      display: flex;

      & > .prepend__icon {
        width: 35px;
        margin: 0 8px 0 0;
      }

      & > .w-input {
        width: 100%;

        .b-input {
          color: #fff;
          background-color: #40485c;

          &::placeholder {
            color: #fff;
          }
        }
      }
    }
  }
}
