*,
*::before,
*::after {
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 20px;

  @include respond-to-max(768) {
    font-size: 18px;
  }
}

html,
body {
  min-height: 100%;
  position: relative;
}

body {
  color: #000;
  font-size: 1rem;
  font-family: 'Kreon', sans-serif;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
figcaption {
  margin: 0;
}

p {
  line-height: 1.35;
}

.hide-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

i[class^="fa"] {
  font-style: normal;
}
