.b-page__description {
  color: #fff;
  max-width: 900px;
  margin-top: -20px;
}
.b-page__head {
  color: #fff;
  padding: 15px;
  display: flex;
  margin: 0 auto;
  max-width: 1082px;
  min-height: 156px;
  position: relative;
  border-radius: 4px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-50%);
  background: rgb(71,84,116);
  background: linear-gradient(180deg, rgba(71,84,116,1) 0%, rgba(52,67,95,1) 100%);

  @include respond-to-max(1000) {
    margin-left: 15px;
    margin-right: 15px;
  }

  .b-header1 {
    font-size: 45px;
    line-height: 1.2;
  }

  &-sub {
    font-size: 24px;
    font-weight: 500;
  }
}


.w-feature__image {
  height: 346px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;


  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.w-page__background {
  background: url("../img/white-tetxture/white-tetxture-background.jpg");

  & > hr {
    opacity: 1;
    height: 2px;
    padding: 0 15px;
    max-width: 1055px;
    margin: 6px auto 90px;
    background-color: #000;
  }
}
.w-page__description {
  min-height: 672px;
  padding-bottom: 50px;
  background: url("../img/buy-tickets/description-bg.svg") no-repeat bottom;
  background-color: #586a89;

  @include respond-to-max(768) {
    padding: 40px 0;
    min-height: auto;
  }
}
