.b-list__dots {
  margin-bottom: 27px;

  & > li {
    position: relative;
    padding-left: 10px;

    &:before {
      left: 0;
      content: "\2022";
      position: absolute;
    }
  }
}
.divider {
  opacity: 1;
  width: 100%;
  margin: 20px 0 35px;
  border-top: 2px dashed #979797;
}
.b-text {
  color: #000;
  font-size: 32px;
  font-weight: bold;

  &__description {
    line-height: 27px;
    margin-bottom: 100px;
  }
}
.link {
  color: inherit;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
