.divider {
  opacity: 1;
  width: 100%;
  margin: 20px 0 35px;
  border-top: 2px dashed #979797;
}
.b-text {
  color: #000;
  font-size: 32px;
  font-weight: bold;
  text-align: center;

  a {
    color: #000;
    text-decoration: none;
  }

  @include respond-to-max(768) {
    font-size: 24px;
  }

  &__description {
    line-height: 27px;
    margin-bottom: 100px;
  }
}
.link {
  color: inherit;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
.fancy-text {
  font-family: 'Caveat', cursive;
}
