<html lang="@@lang">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="@@description">
  <meta name="keywords" content="@@keywords">

  <!--	<link rel="shortcut icon"-->
  <!--				href="@@favicon.svg"-->
  <!--				type="image/svg+xml">-->
  <!--	<link rel="shortcut icon"-->
  <!--				href="@@favicon.webp"-->
  <!--				type="image/webp">-->
  <link rel="shortcut icon"
        href="@@favicon.png"
        type="image/x-icon">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/brands.min.css"
        integrity="sha512-OivR4OdSsE1onDm/i3J3Hpsm5GmOVvr9r49K3jJ0dnsxVzZgaOJ5MfxEAxCyGrzWozL9uJGKz6un3A7L+redIQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet"
        href="css/libs.min.css">
  <link rel="stylesheet"
        href="css/style.min.css">

  <title>
    @@title
  </title>
</head>
