<section class="w-hero homepage">
  <div class="w-hero__inner">
    <h1 class="b-hero__title">
      Make a run!
    </h1><!--b-hero__title-->
    <h2 class="b-hero__title-sub">
      Family Fun • Ride day or night!
    </h2><!--b-hero__title-sub-->

    <p class="b-hero__description">
      -  Formally Gatlinburg Mountain Coaster  -
    </p>
  </div><!--w-hero__inner-->

  <section class="w-parallax">
    <div class="layer layer-1 rellax" data-rellax-speed="2"></div>
    <div class="layer layer-2 rellax" data-rellax-speed="-2"></div>
    <div class="layer layer-3 rellax" data-rellax-speed="-4"></div>
  </section>
</section><!--w-hero-->
