.b-header1 {
  font-size: 34px;
  line-height: 1.4;
  position: relative;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: 'COCOGOOSELETTERPRESS', sans-serif;

  @include respond-to-max(768) {
    font-size: 28px;
  }
}

.b-header4 {
  color: inherit;
  font-size: 22px;
  margin: 0 0 10px;
  font-weight: bold;
}

.b-title {
  margin: 0 0 5px;
  color: inherit;
  font-size: 24px;
  font-weight: 500;
}
