$primary-color: #212c3b;
$primary-color-hover: #4d5662;

$alert-color: #df542c;
$alert-color-hover: #e57656;

$secondary-color: #89c0da;
$secondary-color-hover: #a1cde1;

$muted-color: #90959d;
$muted-color-hover: #90959d;

$light-color: #eee;
$dark-color: #333;
$media-color: #e8f3f8