<section class="w-timeline">
  <div class="line"></div>

  <div class="b-timeline">
    <article class="b-timeline__item">
      <header class="timeline__header">
        September 1989
      </header>

      <figure class="timeline__media">
        <img src="./img/gallery/img01/group.jpg" alt="" class="img-fluid">
      </figure>

      <div class="timeline__body">
        <h4 class="b-header4">
          Title goes here
        </h4>

        <p>
          Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor
          ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum
          faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus,
          nisi erat porttitor ligula, eget lacinia odio sem nec elit.
        </p>
      </div>
    </article><!--b-timeline__item-->

    <article class="b-timeline__item">
      <header class="timeline__header">
        September 1989
      </header>

      <figure class="timeline__media">
        <img src="./img/gallery/img01/group.jpg" alt="" class="img-fluid">
      </figure>

      <div class="timeline__body">
        <h4 class="b-header4">
          Title goes here
        </h4>

        <p>
          Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor
          ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum
          faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus,
          nisi erat porttitor ligula, eget lacinia odio sem nec elit.
        </p>
      </div>
    </article><!--b-timeline__item-->
  </div><!--b-timeline-->
</section><!--w-timeline-->
